<!DOCTYPE html>
<html>
<head>
	<title>test</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/style2.css">
	<link rel="shortcut icon" href="../../assets/images/logo/favicon.png" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="../../assets/css/animate-3.7.0.css">
    <link rel="stylesheet" href="../../assets/css/font-awesome-4.7.0.min.css">
    <link rel="stylesheet" href="../../assets/fonts/flat-icon/flaticon.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="../../assets/css/owl-carousel.min.css">
    <link rel="stylesheet" href="../../assets/css/nice-select.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="../../assets/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    
</head>
<body>
	
	
<select name="type" style="border-radius:6px;border-width: 1px;border-color:white;border:none;height:36px;width:75%;background-color:rgba(250,250,250,.7);padding-left:6px;margin-top:-5px">
                                    <option selected="true">General Admin</option>
                                    <option>Super Admin</option>
                                </select>
			                 <div>
                                <button id="btn1">Rate Us</button>
                                <button class="btn1">Book Service</button>
                                <button class="btn1">Map</button>
                                <button class="btn1">Road</button>
                            </div>                       
		
    
</body>
</html>