
@media screen and (min-width: 800px) and (max-width: 2000px){
  .btn1{

		width:20%;
		height:36px;
		border-radius:12px;
		font-size:1.2vw;
		background-color:#1B5E20;
		margin:6px;
		color:white;
		font-weight:1200px;
		border: none;
	}
}
@media screen and (min-width: 0px) and (max-width: 800px){
  .btn1{

		width:20%;
		height:40px;
		border-radius:12px;
		font-size:1.9vw;
		background-color:blue;
		margin:6px;
		color:white;
	}
}

#datetimepicker1 input::placeholder{

	color:black;
	font-weight:bold;
	font-family:serif;
}
#datetimepicker2 input::placeholder{

	
	color:black;
	font-weight:bold;
	font-family:serif;
}
#confirm-btn{
	background-color:rgba(250,250,254,.3);
}
#confirm-btn:hover{

	background-color:rgba(30,130,244,.5);
}



